export const prerender = false;

---
import MainLayout from "@layouts/MainLayout.astro";
import PasswordInput from "@components/ui/forms/input/PasswordInput.astro";
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
---

<MainLayout title="Réinitialiser le mot de passe">
  <div class="mx-auto max-w-md px-4 py-8">
    <div
      class="rounded-xl border border-neutral-200 bg-neutral-100 p-6 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
    >
      <h1 class="mb-6 text-2xl font-bold text-neutral-800 dark:text-neutral-200">
        Réinitialiser votre mot de passe
      </h1>

      <form id="reset-password-form">
        <div class="grid gap-y-4">
          <PasswordInput
            id="new-password"
            errorId="new-password-error"
            content="8+ caractères requis"
            label="Nouveau mot de passe"
          />
          <PasswordInput
            id="confirm-new-password"
            errorId="confirm-password-error"
            content="Les mots de passe doivent correspondre"
            label="Confirmer le mot de passe"
          />
          <AuthBtn title="Mettre à jour le mot de passe" />
        </div>
      </form>
    </div>
  </div>
</MainLayout>

<script is:inline>
  import { supabase } from "../../lib/supabase";

  const form = document.getElementById("reset-password-form");
  const errorElement = document.getElementById("new-password-error");

  if (form instanceof HTMLFormElement) {
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const password = formData.get("new-password");
      const confirmPassword = formData.get("confirm-new-password");

      if (
        !(
          password &&
          confirmPassword &&
          typeof password === "string" &&
          typeof confirmPassword === "string"
        )
      ) {
        return;
      }

      if (password !== confirmPassword) {
        if (errorElement instanceof HTMLElement) {
          errorElement.textContent = "Les mots de passe ne correspondent pas";
          errorElement.style.display = "block";
        }
        return;
      }

      try {
        const { error } = await supabase.auth.updateUser({ password });

        if (error) throw error;

        // Redirection vers la page de connexion
        window.location.href = "/";
      } catch (error) {
        if (error instanceof Error && errorElement instanceof HTMLElement) {
          console.error("Erreur de réinitialisation:", error.message);
          errorElement.textContent = error.message;
          errorElement.style.display = "block";
        }
      }
    });
  }
</script> 