---
interface HeroProps {
	data: {
		entry?: {
			data?: {
				title?: string
				description?: string
			}
		}
	}
}

const { data } = Astro.props as HeroProps
---

<div class="hero">
	<div class="hero-content">
		<h1>{data?.entry?.data?.title || ''}</h1>
		{
			data?.entry?.data?.description && (
				<p class="description">{data.entry.data.description}</p>
			)
		}
	</div>
</div>

<style>
	.hero {
		padding: 4rem 0;
		background: linear-gradient(
			to right,
			var(--sl-color-bg-sidebar),
			var(--sl-color-bg)
		);
	}

	.hero-content {
		margin: 0 auto;
		padding: 0 1rem;
		max-width: 80ch;
	}

	h1 {
		margin: 0;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.2;
		color: var(--sl-color-white);
	}

	.description {
		margin-top: 1rem;
		color: var(--sl-color-gray-2);
		font-size: 1.25rem;
	}
</style>
