---
// Importing necessary components
import Meta from "@/components/Meta.astro";
import FooterSection from "@/components/sections/navbar&footer/FooterSection.astro";
import Navbar from "@/components/sections/navbar&footer/Navbar.astro";
import { SITE } from "@/constants";
import "../assets/styles/global.css";
import { ViewTransitions } from "astro:transitions";

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = "en" } = Astro.props;

// Interface to type-check the properties
interface Props {
	title?: string;
	meta?: {
		title?: string;
		description?: string;
		image?: string;
		canonicalURL?: string;
	};
	structuredData?: object;
	lang?: string;
}
---

<html lang={lang} class="scroll-pt-16">
	<head>
		<Meta meta={meta} structuredData={structuredData} />
		<title>{title}</title>
		<ViewTransitions />
		<script is:inline>
			if (
				localStorage.getItem("theme") === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="dark:bg-neutral-900">
		<div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
			<Navbar />
			<main>
				<slot />
			</main>
		</div>
		<FooterSection />
		<script>
			import '@/scripts/preline';
			import '@/scripts/theme';
			import '@/scripts/lenisSmoothScroll';
			import '@/scripts/modal';
		</script>
	</body>
</html>
